.container{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
}
.image{
  width:400px;
  height: 400px;
}
.headContainer{
  margin-left: 5rem;
}

.header{
    font-size: 3rem;
}

.headH3{
    font-size: 1.5rem;
    color: #d43b49;
    font-weight: 400;

}
.headTxt{
    padding-top: 0.3rem;
    color: #b6b2af;
}
.headh3t{
    font-size: 1.2rem;
    padding: 5px 0;
}
.contain{
    width: 25rem;
    margin-left: 30px;
}
.star{
    display: flex;
    gap: 2rem;
}

.cart{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;

}

.heart{
    font-size: 45px;
    border: 1px solid #eae6e2;
    border-radius: 50%;
    padding: 10px;
    border-spacing: 1cm 2em; 
}

.btn{
    background-color: #fbb200;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem ;
    display: flex;
    width: fit-content;
    border-radius: 25px;
    gap: 5px;

  }

  .sauce{
    margin-top: 3rem;
  }

  .sauceText{
    font-size: 1.5rem;
  }

  .check{
    padding-top: 1rem;
  }

  .small{
    font-size: 0.4rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 0.4rem;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 2rem;
  }

  .label{
    position: relative; 
    display: inline-block;
    margin-top: 1.7rem;
  }
  .label1{
    position: relative; 
    display: inline-block;
    margin-top: 1rem;
  }
  .label2{
    position: relative; 
    display: inline-block;
  }
  .medium{
    font-size: 0.4rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 0.5rem;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 2rem;
  }
  .large{
    font-size: 0.5rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 0.5rem;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 3.5rem;
  }

  @media (max-width: 768px) {
    .btn{
      background-color: #fbb200;
      color: white;
      font-weight: 500;
      font-size: 0.7rem;
      padding: 10px;
      padding-right: 1rem;
      padding-left: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem ;
      display: flex;
      width: fit-content;
      border-radius: 25px;
      gap: 5px;
    }
    .image{
      width:200px;
      height: 200px;
      padding-left: 10px;
      padding-bottom: 20px;
    }

    .container{
      display: flex;
      flex-direction: column;
      gap: 0rem;
      justify-content: center;
  }

  .header{
    font-size: 2.5rem;
  }
  .headContainer{
    margin-left: 1rem;
  }
  .star{
    padding-left: 2rem;
  }
  .small{
    font-size: 0.4rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 0.5rem;
    border-radius: 13px;
    position: absolute;
    top: 0;
    left: 1rem;
  }

  .medium{
    font-size: 0.4rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 0.5rem;
    border-radius: 13px;
    position: absolute;
    top: 0;
    left: 2rem;
  }
  .label1{
    margin-left: 3rem;
  }
  .textbox{
    gap:10px;
  }
  .large{
    font-size: 0.5rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 0.5rem;
    border-radius: 13px;
    position: absolute;
    top: 0;
    left: 3.5rem;
  }
  .label2{
    margin-left: 2rem;
  }
  .sauceText{
    font-size: 1.1rem;
  }
  }

  .contain{
    display: flex;
    background-color: white;
    border: 1px solid #eae6e2;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.icon1{
    margin-top: 4px;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .contain{
        display: flex;
        background-color: white;
        border: 1px solid #eae6e2;
        width: fit-content;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    
    }
}
