.container{
    display: flex;
    gap: 1rem;
}

.header{
    font-size: 3rem;
}

.headH3{
    font-size: 1.5rem;
    color: #d43b49;
    font-weight: 400;

}
.headTxt{
    padding-top: 0.3rem;
    color: #b6b2af;
}
.headh3t{
    font-size: 1.2rem;
    padding: 5px 0;
}
.contain{
    width: 25rem;
    margin-left: 30px;
}
.star{
    display: flex;
    gap: 2rem;
}

.cart{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;

}

.heart{
    font-size: 45px;
    border: 1px solid #eae6e2;
    border-radius: 50%;
    padding: 10px;
    border-spacing: 1cm 2em; 
}

.btn{
    background-color: #fbb200;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem ;
    display: flex;
    width: fit-content;
    border-radius: 25px;
    gap: 5px;

  }

  .sauce{
    margin-top: 3rem;
  }

  .sauceText{
    font-size: 2rem;
  }

  .check{
    padding-top: 1rem;
  }

  .small{
    font-size: 0.8rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 1rem;
    border-radius: 13px;
    position: absolute;
    top: 0;
    left: 3rem;
  }

  .label{
    position: relative; 
    display: inline-block;
    margin-top: 3rem;
  }
  .label1{
    position: relative; 
    display: inline-block;
    margin-top: 1rem;
  }
  .label2{
    position: relative; 
    display: inline-block;
  }
  .medium{
    font-size: 0.8rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 1rem;
    border-radius: 13px;
    position: absolute;
    top: 0;
    left: 5rem;
  }
  .large{
    font-size: 0.8rem;
    color: #fff;
    background-color: #d43b49;
    padding: 3px 1rem;
    border-radius: 13px;
    position: absolute;
    top: 0;
    left: 6rem;
  }