


.input{
    display: block;
    width: 100%;
    margin-bottom: 2px;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
}

.input:disabled{
    background-color: #a09d9d;
    border: 0;
    cursor: not-allowed;
    opacity: 0.7;

}

.label{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6b7280;
    font-weight: 500;
    padding-top: 42rem;
}


.button{
    background-color: #f00f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
}