@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*>*{
  font-family: 'Poppins', sans-serif;;
}
.bodyImg{
    display: block;
    max-width: 235px;
    position: absolute;
    top: 0;
    left: 25%;
    right: 0;
    z-index: 20;
  }

  body{
    overflow-x: hidden;
  }